In [1]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\madhur\anaconda3\lib\site-packages (3.3.0)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: py4j==0.10.9.5 in c:\users\madhur\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)

[notice] A new release of pip available: 22.2.1 -> 22.2.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName("Practice").getOrCreate()  #Creating a spark session (necessary step)

In [5]:
spark

In [6]:
df_spark=spark.read.csv("USA_Housing.csv")  # importing a csv file in spark

In [9]:
df_spark  # tells us the data types of columns in csv file

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string]

In [12]:
df_spark.show() #used to print out the data frame

+------------------+-------------------+--------------------+--------------------+------------------+------------------+--------------------+
|               _c0|                _c1|                 _c2|                 _c3|               _c4|               _c5|                 _c6|
+------------------+-------------------+--------------------+--------------------+------------------+------------------+--------------------+
|  Avg. Area Income|Avg. Area House Age|Avg. Area Number ...|Avg. Area Number ...|   Area Population|             Price|             Address|
| 79545.45857431678|  5.682861321615587|   7.009188142792237|                4.09|23086.800502686456|1059033.5578701235|208 Michael Ferry...|
|         Laurabury|     NE 37010-5101"|                null|                null|              null|              null|                null|
| 79248.64245482568| 6.0028998082752425|   6.730821019094919|                3.09| 40173.07217364482|  1505890.91484695|188 Johnson Views...|
|     Lake Kathleen|          CA 48958"|                null|                null|              null|              null|                null|
|61287.067178656784|  5.865889840310001|   8.512727430375099|                5.13| 36882.15939970458|1058987.9878760849|9127 Elizabeth St...|
|        Danieltown|     WI 06482-3489"|                null|                null|              null|              null|                null|
| 63345.24004622798| 7.1882360945186425|   5.586728664827653|                3.26| 34310.24283090706|1260616.8066294468|         USS Barnett|
|     FPO AP 44820"|               null|                null|                null|              null|              null|                null|
|59982.197225708034|  5.040554523106283|   7.839387785120487|                4.23|26354.109472103148| 630943.4893385402|        USNS Raymond|
|     FPO AE 09386"|               null|                null|                null|              null|              null|                null|
|  80175.7541594853| 4.9884077575337145|   6.104512439428879|                4.04|26748.428424689715|1068138.0743935304|06039 Jennifer Is...|
|         Tracyport|          KS 16077"|                null|                null|              null|              null|                null|
| 64698.46342788773|  6.025335906887153|   8.147759585023431|                3.41| 60828.24908540716|1502055.8173744078|4759 Daniel Shoal...|
|       Nguyenburgh|          CO 20247"|                null|                null|              null|              null|                null|
| 78394.33927753085| 6.9897797477182815|   6.620477995185026|                2.42|36516.358972493836|1573936.5644777215|   972 Joyce Viaduct|
|      Lake William|     TN 17778-6483"|                null|                null|              null|              null|                null|
| 59927.66081334963|   5.36212556960358|  6.3931209805509015|                 2.3| 29387.39600281585| 798869.5328331633|         USS Gilbert|
|     FPO AA 20957"|               null|                null|                null|              null|              null|                null|
| 81885.92718409566|  4.423671789897876|   8.167688003472351|                 6.1| 40149.96574921337|1545154.8126419624|  Unit 9446 Box 0958|
+------------------+-------------------+--------------------+--------------------+------------------+------------------+--------------------+
only showing top 20 rows

In [13]:
spark.read.option("header",'true').csv('USA_Housing.csv') #converting the first row into columns in spark

DataFrame[Avg. Area Income: string, Avg. Area House Age: string, Avg. Area Number of Rooms: string, Avg. Area Number of Bedrooms: string, Area Population: string, Price: string, Address: string]

In [14]:
spark.read.option("header",'true').csv('USA_Housing.csv').show()

+------------------+-------------------+-------------------------+----------------------------+------------------+------------------+--------------------+
|  Avg. Area Income|Avg. Area House Age|Avg. Area Number of Rooms|Avg. Area Number of Bedrooms|   Area Population|             Price|             Address|
+------------------+-------------------+-------------------------+----------------------------+------------------+------------------+--------------------+
| 79545.45857431678|  5.682861321615587|        7.009188142792237|                        4.09|23086.800502686456|1059033.5578701235|208 Michael Ferry...|
|         Laurabury|     NE 37010-5101"|                     null|                        null|              null|              null|                null|
| 79248.64245482568| 6.0028998082752425|        6.730821019094919|                        3.09| 40173.07217364482|  1505890.91484695|188 Johnson Views...|
|     Lake Kathleen|          CA 48958"|                     null|                        null|              null|              null|                null|
|61287.067178656784|  5.865889840310001|        8.512727430375099|                        5.13| 36882.15939970458|1058987.9878760849|9127 Elizabeth St...|
|        Danieltown|     WI 06482-3489"|                     null|                        null|              null|              null|                null|
| 63345.24004622798| 7.1882360945186425|        5.586728664827653|                        3.26| 34310.24283090706|1260616.8066294468|         USS Barnett|
|     FPO AP 44820"|               null|                     null|                        null|              null|              null|                null|
|59982.197225708034|  5.040554523106283|        7.839387785120487|                        4.23|26354.109472103148| 630943.4893385402|        USNS Raymond|
|     FPO AE 09386"|               null|                     null|                        null|              null|              null|                null|
|  80175.7541594853| 4.9884077575337145|        6.104512439428879|                        4.04|26748.428424689715|1068138.0743935304|06039 Jennifer Is...|
|         Tracyport|          KS 16077"|                     null|                        null|              null|              null|                null|
| 64698.46342788773|  6.025335906887153|        8.147759585023431|                        3.41| 60828.24908540716|1502055.8173744078|4759 Daniel Shoal...|
|       Nguyenburgh|          CO 20247"|                     null|                        null|              null|              null|                null|
| 78394.33927753085| 6.9897797477182815|        6.620477995185026|                        2.42|36516.358972493836|1573936.5644777215|   972 Joyce Viaduct|
|      Lake William|     TN 17778-6483"|                     null|                        null|              null|              null|                null|
| 59927.66081334963|   5.36212556960358|       6.3931209805509015|                         2.3| 29387.39600281585| 798869.5328331633|         USS Gilbert|
|     FPO AA 20957"|               null|                     null|                        null|              null|              null|                null|
| 81885.92718409566|  4.423671789897876|        8.167688003472351|                         6.1| 40149.96574921337|1545154.8126419624|  Unit 9446 Box 0958|
|     DPO AE 97025"|               null|                     null|                        null|              null|              null|                null|
+------------------+-------------------+-------------------------+----------------------------+------------------+------------------+--------------------+
only showing top 20 rows

In [16]:
df_pyspark=spark.read.option("header",'true').csv('USA_Housing.csv')

In [17]:
df_pyspark.head(3)

[Row(Avg. Area Income='79545.45857431678', Avg. Area House Age='5.682861321615587', Avg. Area Number of Rooms='7.009188142792237', Avg. Area Number of Bedrooms='4.09', Area Population='23086.800502686456', Price='1059033.5578701235', Address='208 Michael Ferry Apt. 674'),
 Row(Avg. Area Income='Laurabury', Avg. Area House Age=' NE 37010-5101"', Avg. Area Number of Rooms=None, Avg. Area Number of Bedrooms=None, Area Population=None, Price=None, Address=None),
 Row(Avg. Area Income='79248.64245482568', Avg. Area House Age='6.0028998082752425', Avg. Area Number of Rooms='6.730821019094919', Avg. Area Number of Bedrooms='3.09', Area Population='40173.07217364482', Price='1505890.91484695', Address='188 Johnson Views Suite 079')]

In [19]:
df_pyspark.printSchema() #similar to .info() function in pandas

root
 |-- Avg. Area Income: string (nullable = true)
 |-- Avg. Area House Age: string (nullable = true)
 |-- Avg. Area Number of Rooms: string (nullable = true)
 |-- Avg. Area Number of Bedrooms: string (nullable = true)
 |-- Area Population: string (nullable = true)
 |-- Price: string (nullable = true)
 |-- Address: string (nullable = true)